.carousel-section {
    /* padding: 100px 0; */
    /* padding-top: 20px; */
    /* padding-bottom: 65px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 102vh;
    justify-content: center;
    align-items: center;
    color: black;
    height: 99vh;
}
.carousel {
    width: 85%;
    text-align: center;
    /* padding: 40px 0; */
    max-width: 850px;
    display: flex;
    flex-direction: column;
    /* gap: 55px; */
  margin-top: 50px;
  padding: 65px 0;
    justify-content: center;
    align-items: center;
  }
.carousel h2{
    font-size: 42px;
    margin-bottom: 80px;
    font-weight: 400;
    /* padding-top: 30px; */
    /* max-width: 200px; */
    color: #252B42;
    /* margin-top: 2px; */
}

  .logo img {
    height: 50px;
  }
.logo{
    margin-bottom: 35px;
}
  .text {
    /* max-width: 200px; */
    width: 100%;
    font-size: 24px;
    margin-bottom: 55px;
    color: #555;
  }

  .author {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: 5px;
    /* width: 700px; */
    width: 200px;
    margin-bottom: 50px;
  }

  .author img {
    width: 40px;
    height: 45px;
    margin:0 10px;
    border-radius: 50%;
  }
.author-text{
  color: #374754;
font-size: 15px;
height: 60px;
}
  .dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;

  }

  .dot {
    width: 20px;
    height: 20px;
    background-color: #2091F9; /* White color for active dot */
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px black solid;
  }
  
  .dot.active {
    background-color: #FFFFFF; /* Blue color for inactive dots */

  }